.luuna-desc{
    display: flex;
    color: white;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.lunna-chat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}
.lunna-container{
    background-color: black;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#sendsvg{
    width: 23px;
}
#luuna-input{
    background-color: #282828;
    padding: 10px;
    font-size: 15px;
    width: 250px;
    color: white;
    border-radius: 20px;
}
#lunna-input::placeholder{
    color: white
}
.response{
    display: flex;
    width: 100%;
    margin-top: 30px;
    & p{
        background-color: #282828;
        width: 300px;
        padding: 10px;
        border-radius: 20px;
        font-size: 15px;
    }
}
.answer{
    width: 100%;
    display: flex;
    justify-content: end;
    & p{
        font-size: 15px;
        background-color: blueviolet;
        width: 300px;
        padding: 10px;
        border-radius: 20px;
    }
}
.chat-container{
    height: 275px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
}
.pagination{
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
    & p{
        cursor: pointer;
    }
}


