.container-plans{
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    & img{
        position: absolute;
        right: 0;
        bottom: 0;
        height: auto;
    }
}
.container-plans-delete{
    background-color: black;
    width: 100%;
    height: 88.9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    & img{
        position: absolute;
        right: 0;
        bottom: 0;
        height: auto;
    }
}
.title-plans{
    line-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & h1{
        color: white;
        font-size: 50px;
    }
    & p{
        color: blueviolet;
        font-size: 17.5px;
    }
}
.plans-card-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    z-index: 2;
    gap: 150px;
    padding: 20px;
    flex-wrap: wrap;
    
}
.plans-visibility{
    display: flex;
    justify-content: space-between;
    border: 2px solid white;
    border-radius: 20px;
    & span{
        padding: 5px;
        font-size: 15px;
        border-radius: 18px;
        cursor: pointer;
        width: 150px;
        text-align: center;
    }
}
.card-plan{
    background-color: blueviolet;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: 1s;
}
#notice{
    display: none;
}
.card-plan:hover{
    transform: scale(1.035);
}
.card-plan:hover #notice{
    display: block;
    position: absolute;
    color: white;
    top: -15px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid white;
    background-color: rgb(123, 0, 255);
    width: 200px;
    text-align: center;
    font-size: 15px;
    
}
.plans-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    gap: 40px;
    & div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    & p{
        font-size: 50px;
        font-weight: 600;
    }
    & span{
        font-size: 20px;
        font-weight: 600;
    }
}
.card-plan hr{
    width: 80%;
}
.plans-advantage ul{ 
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    & li{
        font-weight: 500;
    }
}
#btn-plans{
    width: 250px;
    border-radius: 20px;
    color: blueviolet;
    border: none;
    padding: 5px;
    font-size: 17.5px;
}